{% extends 'layouts/main.html.twig' %}
{% block main %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">404</h1>
            <p>Страница не найдена. Вернитесь на <a href="/">главную</a>.</p>
        </div>
    </div>
{% endblock %}