{% extends 'layouts/main.html.twig' %}
{% block main %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>Это страница "Hello, world!" и она используется для показа работы роутера.</p>
            <p>Так же есть главная страница, на которую можно перейти по <a href="/">этой ссылке</a> или из пункта меню.</p>
        </div>
    </div>
{% endblock %}